<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Noznore</title>
        <link rel="shortcut icon" href="{{ asset('bundles/avenuecheckout/evani/images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/avenuecheckout/evani/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/avenuecheckout/evani/css/media.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/avenuecheckout/evani/fonts/stylesheet.css') }}">
        <script type="text/javascript" src="{{ asset('bundles/avenuecheckout/evani/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('bundles/avenuecheckout/evani/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/avenuecheckout/evani/js/bookmarkscroll.js') }}"></script>
        <script type="text/javascript">
            this.addEventListener("DOMContentLoaded", preloadImages, true);

			var loadedImages = 0;
			var imageArray = new Array(
				"{{ asset('bundles/avenuecheckout/evani/images/product4.png') }}", 
				"{{ asset('bundles/avenuecheckout/evani/images/select-box-768.jpg') }}", 
				"{{ asset('bundles/avenuecheckout/evani/images/selected-box-desk.jpg') }}", 
				"{{ asset('bundles/avenuecheckout/evani/images/unselect-box-768.jpg') }}", 
				"{{ asset('bundles/avenuecheckout/evani/images/unselect-box-desk.jpg') }}",
				"{{ asset('bundles/avenuecheckout/evani/images/PostDKLogo.png') }}"
			);
				/*"{{ asset('bundles/avenuecheckout/evani/images/product1.png') }}", 
				"{{ asset('bundles/avenuecheckout/evani/images/product-1-unselect.png') }}", 
				"{{ asset('bundles/avenuecheckout/evani/images/product2.png') }}", 
				"{{ asset('bundles/avenuecheckout/evani/images/product2-unselect.png') }}", 
				"{{ asset('bundles/avenuecheckout/evani/images/product3.png') }}", */
			var tempImage = Array();
			function preloadImages()
			{
				for (var i = 0; i < imageArray.length; i++) {
					tempImage[i] = new Image();
					tempImage[i] = imageArray[i];
				}
			}
			
			$(document).ready(function() {
                    $('#btn-one').click(function(){
                        $('.package-box1').addClass('select');
                       /* $('.package-box2').removeClass('select');
                        $('.package-box3').removeClass('select');
                        $('.package-box4').removeClass('select');
                        $('#package_type').html('Buy 3 + Get 3 FREE');
                        $('#total_price').html('£{{ priceMaximum.price }}');
						$('#select1').text('selected');
					   $('#select2, #select3,#select4').text('select'); */
                        
						$.ajax({
                            url: "{{ path('avenue_checkout_ajax_replaceproduct') }}?product={{ productMaximum.id }}",
                        })
                        .done(function(data) {
                            console.log(data);
                        });
						
                    });

                    /*$('#btn-two').click(function(){
                        $('.package-box1').removeClass('select');
                        $('.package-box2').addClass('select');
                        $('.package-box3').removeClass('select');
                        $('.package-box4').removeClass('select');
                        $('#package_type').html('Buy 2 + Get 1 FREE');
                        $('#total_price').html('£{{ pricePopular.price }}');
						$('#select2').text('selected');
						$('#select1, #select3, #select4').text('select');

                        $.ajax({
                            url: "{{ path('avenue_checkout_ajax_replaceproduct') }}?product={{ productPopular.id }}",
                        })
                        .done(function(data) {
                            console.log(data);
                        });

                    });
                    $('#btn-three').click(function(){
                        $('.package-box1').removeClass('select');
                        $('.package-box2').removeClass('select');
                        $('.package-box3').addClass('select');
                        $('.package-box4').removeClass('select');
                        $('#package_type').html('Buy 2');
                        $('#total_price').html('£{{ priceStarter.price }}');
						$('#select3').text('selected');
						$('#select2, #select1, #select4').text('select');

                        $.ajax({
                            url: "{{ path('avenue_checkout_ajax_replaceproduct') }}?product={{ productStarter.id }}",
                        })
                        .done(function(data) {
                            console.log(data);
                        });

                    });
                    $('#btn-four').click(function(){
                        $('.package-box1').removeClass('select');
                        $('.package-box2').removeClass('select');
                        $('.package-box3').removeClass('select');
                        $('.package-box4').addClass('select');
                        $('#package_type').html('Buy 1');
                        $('#total_price').html('£{{ priceTrial.price }}');
						$('#select4').text('selected');
						$('#select2, #select3, #select1').text('select');

                        $.ajax({
                            url: "{{ path('avenue_checkout_ajax_replaceproduct') }}?product={{ productTrial.id }}",
                        })
                        .done(function(data) {
                            console.log(data);
						});

                    });*/

                    {% if currentItem.product.id == productMaximum.id %}
                        $('#btn-one').click();
                    {% endif %}
                    /*{% if currentItem.product.id == productPopular.id %}
                        $('#btn-two').click();
                    {% endif %}
                    {% if currentItem.product.id == productStarter.id %}
                        $('#btn-three').click();
                    {% endif %}
                    {% if currentItem.product.id == productTrial.id %}
                        $('#btn-four').click();
                    {% endif %}*/
					
					if(document.getElementById('radioOne').checked) {
						toggleBillingAddress('Yes');
					}else if(document.getElementById('radioTwo').checked) {
						toggleBillingAddress('No');
					}
					
					
					$('#sbm_button').click(function(){
							if(!$('#form_shippingAddress').val())
							{$('#err_address').fadeIn('slow').delay(7000).fadeOut('slow');
							$('#form_shippingAddress').css('background-color','#FFE4E1');}
							if(!$('#form_shippingCity').val())
							{$('#err_city').fadeIn('slow').delay(7000).fadeOut('slow');
								$('#form_shippingCity').css('background-color','#FFE4E1');}
							if(!$('#form_shippingZip').val())
							{$('#err_zipcode').fadeIn('slow').delay(7000).fadeOut('slow');
								$('#form_shippingZip').css('background-color','#FFE4E1');}
						}
					);
					
					$( "#form_shippingAddress" ).keydown(function() {
					  $('#form_shippingAddress').css('background-color','');
					});
					$( "#form_shippingCity" ).keydown(function() {
					  $('#form_shippingCity').css('background-color','');
					});
					$( "#form_shippingZip" ).keydown(function() {
					  $('#form_shippingZip').css('background-color','');
					});

            });
        </script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <center><a href="#"><img src="{{ asset('bundles/avenuecheckout/evani/images/top-logo.png') }}" class="img-responsive logo"></a></center>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header-right">
						<p class="header-p1">We’ve helped <span class="header-p2">56,372+ Europeans</span> <span class="header-p3">“Go Snore-Free”</span></p>
					</div>
                </div>
                <div class="clearfix"></div>
                <div class="main-elements">
                    <h1 class="cong-text">TAK FOR SNAKKEN!</h1>
                    <span class="span-text">Du er nu kun ét skridt fra at blive snorkefri!</span>
                    <div class="clearfix"></div>
                    <div class="col-md-8 col-sm-7 col-xs-12">
                        <div class="product-container">
                            <!--<a href="javascript:bookmarkscroll.scrollTo('form-box')"><div id="btn-one" style="cursor:pointer;">-->
                            <a ><div id="btn-one" style="cursor:pointer;">
                                    <div class="package-box1" >
                                        <div class="box-heading">
                                            <p class="heading-text">MAXIMUM PROTECTION</p>
                                            <img src="{{ asset('bundles/avenuecheckout/evani/images/free-shipping.png') }}" class="shipping-icon">
											<p class="heading-shipping">Free Shipping</p>
                                        </div>
                                        <div class="shipping-icon-xs">
                                            <img src="{{ asset('bundles/avenuecheckout/evani/images/free-shipping.png') }}">
											<p class="heading-shipping-xs">Free Shipping</p>
                                        </div>
                                        <div class="check"></div>
									<!--<div class="product-image-one"><img src="{{ asset('bundles/avenuecheckout/evani/images/product1-mg.png') }}" style="width:100%;"></div>-->
										<div class="product-image-four"><!--<img src="{{ asset('bundles/avenuecheckout/evani/images/product4.png') }}" >--></div>
                                        <div class="product-price">
                                            <p>Buy 3 + Get 3<br><span>FREE</span></p>
                                            <div class="price-box">
                                                £{{ priceMaximum.price }}
                                            </div>
                                           <button class="select-btn" id="select1">select</button>
                                        </div>
										<div class="clear-fix"></div>
										<div class="stock">Current Sell Out Risk : <span>HIGH</span></div>
                                    </div>
                            </div></a>
							<div>
								<h2 style="font-family: 'robotobold';">
									Hvordan fungerer NoZnore?
								</h2>
								<p style="font-family:'robotoregular';font-size:19.5px;">
									NoZnore<sup style="font-size:8px;">TM</sup> HGS-35 virker bedre end de konventionelle anti-snorkeskinner. Snorken er ofte forårsaget af at dine luftveje bliver indsnævret og din tunge og hals vibrerer. Med en anti-snoreskinne placeret i munden, meget lig en bideskinne – vil din underkæbe forblive i en fremadrettet position og din mund holdes åben. Dette forhindre din underkæbe i at falde tilbage og ligge pres på dine luftveje, så de forbliver åbne.
								</p>
								<div style="width:100%;text-align:center;">
									<div style="width:48%; font-family: 'robotobold'; padding:10px; text-align:center; display:table-cell;">Uden NoZnore<br /><img width="85%" src="{{ asset('bundles/avenuecheckout/evani/images/udenNoZnore.png') }}"></div>
									<div style="width:48%; font-family: 'robotobold'; padding:10px; margin-left:-5px; text-align:center; display:table-cell;">MedNoZnore<br /><img width="85%" src="{{ asset('bundles/avenuecheckout/evani/images/MedNoZnore.png') }}"></div>
								</div>
								<br />
								<br />
							</div>
                            <div class="price-table">
                                <img src="{{ asset('bundles/avenuecheckout/evani/images/PostDKLogo.png') }}" class="us-postal" style="margin-top:12%;" width="182px">
                                <table class="tablep" border="0" cellspacing="0" cellpadding="4" align="right">

                                    <tr>
                                        <td align="left" colspan="2" class="table-heading">Order Summary</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2" style="line-height:3px;">&nbsp;</td>
                                    </tr>
                                    <tr style="border-bottom:1px dotted #686868;">
                                        <td width="44%" align="right" class="p-text">Package:</td>
                                        <td width="56%" align="right" class="p-text" id="package_type">Buy 3 + Get 3 FREE </td>
                                    </tr>
                                    <tr style="border-bottom:1px dotted #686868;">
                                        <td align="right" class="p-text">Shipping Type:</td>
                                        <td align="right" class="p-text">Priority Shipping</td>
                                    </tr>
                                    <tr style="border-bottom:1px dotted #686868;">
                                        <td align="right" class="p-text">Shipping Price:</td>
                                        <td align="right" class="p-text">£0.00</td>
                                    </tr>
                                    <tr>
                                        <td align="right" class="p-text-b">Your Total:</td>
                                        <td align="right" class="p-text-b" id="total_price">£{{ priceMaximum.price }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2">&nbsp;</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="frm-top" id="form-box">
							<center>
								<img src="{{ asset('bundles/avenuecheckout/evani/images/frm-top.png') }}" class="hidden-sm hidden-xs" style="width:100%;">
								<img src="{{ asset('bundles/avenuecheckout/evani/images/frm-top-768.png') }}" class="hidden-lg hidden-md hidden-xs" style="width:100%;">
								<img src="{{ asset('bundles/avenuecheckout/evani/images/frm-top-640.png') }}" class="hidden-lg hidden-md hidden-sm" style="width:100%;">
							</center>
							<p class="frm-top-txt1">LIMITED SUPPLIES AVAILABLE</p>
							<p class="frm-top-txt2">Final Step</p>       
							<p class="frm-top-txt3">Payment INFORMATION</p>                     
                        </div>
                        <div class="frm-mid">
                            {{ form_start(form, {'attr':{'id':'checkout-form'}}) }}
                                <div id="formfields">
                                    <div id="fields">
                                        <div id="isbillingsame" style="text-align:center;">
                                            Is your billing address the same as your<br /> shipping address?
                                            <div class="question1" style="padding-top:10px;">
                                                <input id="radioOne"  onclick="toggleBillingAddress(this)" type="radio" name="billingSameAsShipping" value="yes" checked="">&nbsp;Yes
                                                <input id="radioTwo"  onclick="toggleBillingAddress(this)" type="radio" name="billingSameAsShipping" value="no">&nbsp;No
                                            </div>
                                        </div>
                                        <center>
										<span>We Accept:</span>&nbsp;<img src="{{ asset('bundles/avenuecheckout/evani/images/accept.png') }}" class="cards">
										</center>
										<!---->
                                        <div style="margin-top: 20px;">
                                            <div style="display: none;" id="billingDiv">
                                                <p style="text-align:left; padding-left:10px;"><strong></strong></p>

                                                <div class="fieldelements">
                                                    <label for="billing_street_address">Address&nbsp;&nbsp;<span id="err_address" style="font-size:14px;color:red;display:none;float:right;">Please Enter Address</span></label>
													
                                                    <div class="clearfix"></div>
                                                    {{ form_widget(form.shippingAddress) }}
                                                </div>
                                                <div class="fieldelements">
                                                    <label for="billing_city">City&nbsp;&nbsp;<span id="err_city" style="font-size:14px;color:red;display:none;float:right;">Please Enter City</span></label>
													
                                                    <div class="clearfix"></div>
                                                    {{ form_widget(form.shippingCity) }}
                                                </div>
                                                <!--
                                                <div class="fieldelements">
                                                    <label for="billing_state" id="billing_state_region">State</label>
                                                    <div class="clearfix"></div>
                                                    <select class="" id="billing_state" style="" name="billing_state" size="1" onchange="SetStateHid(this);">
                                                        <option value="" onclick="">Select State</option>
                                                        <option value="AL" onclick="">Alabama (AL)</option>
                                                        <option value="AK" onclick="">Alaska (AK)</option>
                                                        <option value="AS" onclick="">American Samoa (AS)</option>
                                                        <option value="AZ" onclick="">Arizona (AZ)</option>
                                                        <option value="AR" onclick="">Arkansas (AR)</option>
                                                        <option value="AE-A" onclick="">Armed Forces Africa (AE)</option>
                                                        <option value="AA" onclick="">Armed Forces Americas (AA)</option>
                                                        <option value="AE-C" onclick="">Armed Forces Canada (AE)</option>
                                                        <option value="AE-E" onclick="">Armed Forces Europe (AE)</option>
                                                        <option value="AE-M" onclick="">Armed Forces Middle East (AE)</option>
                                                        <option value="AP" onclick="">Armed Forces Pacific (AP)</option>
                                                        <option value="CA" onclick="">California (CA)</option>
                                                        <option value="CO" onclick="">Colorado (CO)</option>
                                                        <option value="CT" onclick="">Connecticut (CT)</option>
                                                        <option value="DE" onclick="">Delaware (DE)</option>
                                                        <option value="DC" onclick="">District of Columbia (DC)</option>
                                                        <option value="FM" onclick="">Federated States of Micronesia (FM)</option>
                                                        <option value="FL" onclick="">Florida (FL)</option>
                                                        <option value="GA" onclick="">Georgia (GA)</option>
                                                        <option value="GU" onclick="">Guam (GU)</option>
                                                        <option value="HI" onclick="">Hawaii (HI)</option>
                                                        <option value="ID" onclick="">Idaho (ID)</option>
                                                        <option value="IL" onclick="">Illinois (IL)</option>
                                                        <option value="IN" onclick="">Indiana (IN)</option>
                                                        <option value="IA" onclick="">Iowa (IA)</option>
                                                        <option value="KS" onclick="">Kansas (KS)</option>
                                                        <option value="KY" onclick="">Kentucky (KY)</option>
                                                        <option value="LA" onclick="">Louisiana (LA)</option>
                                                        <option value="ME" onclick="">Maine (ME)</option>
                                                        <option value="MD" onclick="">Maryland (MD)</option>
                                                        <option value="MA" onclick="">Massachusetts (MA)</option>
                                                        <option value="MI" onclick="">Michigan (MI)</option>
                                                        <option value="MN" onclick="">Minnesota (MN)</option>
                                                        <option value="MS" onclick="">Mississippi (MS)</option>
                                                        <option value="MO" onclick="">Missouri (MO)</option>
                                                        <option value="MT" onclick="">Montana (MT)</option>
                                                        <option value="NE" onclick="">Nebraska (NE)</option>
                                                        <option value="NV" onclick="">Nevada (NV)</option>
                                                        <option value="NH" onclick="">New Hampshire (NH)</option>
                                                        <option value="NJ" onclick="">New Jersey (NJ)</option>
                                                        <option value="NM" onclick="">New Mexico (NM)</option>
                                                        <option value="NY" onclick="">New York (NY)</option>
                                                        <option value="NC" onclick="">North Carolina (NC)</option>
                                                        <option value="ND" onclick="">North Dakota (ND)</option>
                                                        <option value="MP" onclick="">Northern Mariana Islands (MP)</option>
                                                        <option value="OH" onclick="">Ohio (OH)</option>
                                                        <option value="OK" onclick="">Oklahoma (OK)</option>
                                                        <option value="OR" onclick="">Oregon (OR)</option>
                                                        <option value="PA" onclick="">Pennsylvania (PA)</option>
                                                        <option value="PR" onclick="">Puerto Rico (PR)</option>
                                                        <option value="MH" onclick="">Republic of Marshall Islands (MH)</option>
                                                        <option value="RI" onclick="">Rhode Island (RI)</option>
                                                        <option value="SC" onclick="">South Carolina (SC)</option>
                                                        <option value="SD" onclick="">South Dakota (SD)</option>
                                                        <option value="TN" onclick="">Tennessee (TN)</option>
                                                        <option value="TX" onclick="">Texas (TX)</option>
                                                        <option value="UT" onclick="">Utah (UT)</option>
                                                        <option value="VT" onclick="">Vermont (VT)</option>
                                                        <option value="VI" onclick="">Virgin Islands of the U.S. (VI)</option>
                                                        <option value="VA" onclick="">Virginia (VA)</option>
                                                        <option value="WA" onclick="">Washington (WA)</option>
                                                        <option value="WV" onclick="">West Virginia (WV)</option>
                                                        <option value="WI" onclick="">Wisconsin (WI)</option>
                                                        <option value="WY" onclick="">Wyoming (WY)</option></select>
                                                </div>
                                                -->
                                                <div class="fieldelements">
                                                    <label for="billing_postcode">Zip Code&nbsp;&nbsp;<span id="err_zipcode" style="font-size:14px;color:red;display:none;float:right;">Please Enter Zip Code</span></label>
													
                                                    <div class="clearfix"></div>
                                                    {{ form_widget(form.shippingZip) }}
                                                </div>
												<!--<script type="text/javascript">
													if($('#radioOne').checked)
													{
														$('#form_shippingAddress').removeAttr('required');
														$('#form_shippingCity').removeAttr('required');
														$('#form_shippingZip').removeAttr('required');
														alert('now unset!');
													}
												</script>-->
                                                <hr>
                                            </div>
                                            <!--
                                            <div class="fieldelements">
                                                <label for="cc_type" class="formlabel">Card Type</label>
                                                <div class="clearfix"></div>
                                                <select onchange="payment_change(this)" onkeydown="this.onchange();" onkeyup="this.onchange();" id="cc_type" name="cc_type">
                                                    <option value="">Select Card</option>
                                                    <option value="visa">Visa</option>
                                                    <option value="master">Master Card</option>
                                                    <option value="discover">Discover</option>
                                                </select>
                                            </div>
                                            -->
                                            <div class="fieldelements">
                                                <label for="cc_number">Card Number</label>
                                                <div class="clearfix"></div>
                                                <input data-quickpay="cardnumber" autocomplete="off" type="text" id="cc_number" placeholder="Card Number">
                                            </div>
                                            <div class="fieldelements">
                                                <label for="cc_expires" class="formlabel"> Expiry Date</label>
                                                <div class="clearfix"></div>
                                                <input placeholder="MM / YY" data-quickpay="expiration" autocomplete="off" type="text" id="cc_expire">
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="fieldelements">
                                                <label for="cc_cvv" class="formlabel">Security Code*</label>
                                                <div class="clearfix"></div>
                                                <input data-quickpay="cvd" autocomplete="off"  type="text" class="cvv" placeholder="Number" >
                                                <span data-toggle="modal" data-target="#myModal" style="margin-left:10px; cursor:pointer; text-decoration:underline;">What's This?</span>

                                                <div class="flt-n"></div>
                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="fieldelements" style="font:12px arial; text-align:left; margin: 10px 0 0px 0; color:#fff;">
                                                <input checked type="checkbox"  name="agree_terms" id="agree_terms" value="Y" style="float:left; margin: 3px 4px 0 0;" /><p class="flt-l" style="width:96%; margin-left:20px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">Subscribe to our Monthly Newsletter and stay updated.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="fieldelements" style="font:12px arial; text-align:left; margin:0; color:#fff;">
											<input type="checkbox" name="agree_terms" id="agree_terms" value="Y" style="float:left; margin: 3px 4px 0 0;" /><p class="flt-l" style="width:96%; margin-left:20px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">I agree to the <a style="color:#fff; text-decoration:underline;" href="https://www.your-secure-payment.com/terms/denmark/page" data-toggle="modal" data-target="#myTerms">Terms & Conditions</a> and <a href="https://www.your-secure-payment.com/privacy/denmark/page" style="color:#fff;text-decoration:underline" data-toggle="modal" data-target="#myPrivacy">Privacy Policy</a> of this website.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="btn1-ordr1" align="center">
										  <button id='sbm_button' class="submit">RUSH MY ORDER<br>
											 <span class="btn-span">LIMITED TIME PROMOTION</span></button>
										  <img src="{{ asset('bundles/avenuecheckout/evani/images/btn-shdw.png') }}" style="width:100%;">
									    </div>
                                    </div>
                                    <div class="lock-txt"><img src="{{ asset('bundles/avenuecheckout/evani/images/lock.png') }}" class="lock">SECURE 256-BIT SSL ENCRYPTION</div>
									<div class="clearfix"></div>
									<div class="secure-1">
									  <p class="secure1-txt">100% Safe &amp; Secure Transactions </p>
									  <center><img src="{{ asset('bundles/avenuecheckout/evani/images/security1.jpg') }}" class="security1"></center>
								    </div>
									<div class="secure-2">
										<table border="0" cellpadding="5" cellspacing="0" width="100%">
											<tbody><tr>
											<td valign="top" width="10%"><img src="{{ asset('bundles/avenuecheckout/evani/images/ylc.png') }}"></td>
											<td width="90%"><span class="span1">SHOP WITH CONFIDANCE</span><br><span class="span2">NOZNORE SNORING SAFE<br>AND SECURE. GURANTEED!</span></td>
											</tr>
											<tr>
											<td colspan="2" width="14%"><span class="span3">You'll pay nothing if unauthorized charges are made to your credit card as a result of shopping at noznore.com</span></td>
											</tr>
											
											<tr>
											<td valign="top" width="10%"><img src="{{ asset('bundles/avenuecheckout/evani/images/gcld.png') }}"></td>
											<td width="90%"><span class="span1">YOUR PRIVACY IS IMPORTANT!</span><br><span style="letter-spacing:-0.2px;">All information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol.</span></td>
											</tr>
										</tbody></table>
									</div>
                                </div>
                                <div id="formbottom"></div>
                            {{ form_end(form) }}
                        </div>
                        <div class="frm-btm"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="footer">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="ftr-txt">
                    <a data-toggle="modal" href="https://www.your-secure-payment.com/terms/denmark/page" data-target="#myTerms">Terms and Conditions</a>
                    <br class="ftr-brk">
                    <a data-toggle="modal" href="https://www.your-secure-payment.com/privacy/denmark/page" data-target="#myPrivacy">Privacy Policy</a>
                    <br class="ftr-brk">
                    <a data-toggle="modal" data-target="#myContact">Contact Us</a>
                    </p>
                    <p class="ftr-txt">© 2015 NoZnore. All Rights Reserved</p>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom:none;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <center><img src="{{ asset('bundles/avenuecheckout/evani/images/security_code_logo.gif') }}" style="max-width:351px; width:100%;"></center>
                    </div>
                </div>
            </div>
        </div>

        <div id="myPrivacy" class="modal fade" role="dialog">
			<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
					   <div class="modal-header" style="border-bottom:none;">
							<!--Privacy-->
						</div>
						<div class="modal-body">
							<!--Privacy-->
					   </div>
					</div>
			</div>
        </div>

        <div id="myContact" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom:none;">
                        Contact
                    </div>
                    <div class="modal-body">
                        Contact
                    </div>
                </div>
            </div>
        </div>

        <div id="myTerms" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom:none;">
                        <!--Terms-->
                    </div>
                    <div class="modal-body">
                        <!--Terms-->
                    </div>
                </div>
			</div>
        </div>

        <script type="text/ecmascript">
            function toggleBillingAddress(radioButtonObj)
            {
                var billingDiv = document.getElementById('billingDiv');
                if (radioButtonObj.value == "no")
                {
                    billingDiv.style.display = 'inline';
					$('#form_shippingAddress').attr('required','required');
					$('#form_shippingCity').attr('required','required');
					$('#form_shippingZip').attr('required','required');
                }
                else
                {
                    billingDiv.style.display = 'none';
					$('#form_shippingAddress').removeAttr('required');
					$('#form_shippingCity').removeAttr('required');
					$('#form_shippingZip').removeAttr('required');
                }
					  
            }
        </script>

        <script type="text/javascript">
            var quickpay_merchantid = "{{ quickpay_merchantid }}";
            var quickpay_agreementid = "{{ quickpay_agreementid }}";
            var gateway_debug_url = "{{ path('avenue_checkout_ajax_gatewayerror') }}";
            var order_id = "{{ entity.id }}";

            //var paymentErrorMessage = 'Your card information cannot be verified, please check your card and try again.';
            //var paymentButtonText = 'Complete Payment';
            //var paymentWaitText = 'Please wait...';
        </script>
		<script src="https://payment.quickpay.net/embedded/v1/quickpay.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/avenuecheckout/js/quickpay.js') }}"></script>

		
		
	</body>
</html>
